<form action="/products" method="post">
<div>Name<br><input type="text" name="Name"></div><br>
<div>Price<br><input type="text" name="Price"></div><br>
<div>Description<br><input type="text" name="Description"></div><br>
<div>Supplier ID<br><input type="text" name="Supplier ID"></div><br>
<div>Inventory<br><input type="text" name="Inventory"></div><br>
<input type="submit" value="Create Product" />
</form>